.csim_results
.marker
.vimspector.json
README
driver.py
test-trans
test-trans.c
trace.f0
trace.f1
trace.tmp
tracegen
tracegen.c
trans.c
.vim
csim
.cache
.clangd
compile_commands.json
tags
.exrc
*.elf 
*.hex 
*.obj 
*.o 
*.d 
*.eep 
*.lst 
*.lss 
*.sym 
*.map 
*~ 
*.eeprom 
